{extend name='main'}

{block name="button"}
{if auth("wechatsamll/distribution_bll/set/rate")}
<button data-modal='{:url("setRate")}' data-title="设置分销率" class='layui-btn layui-btn-sm layui-btn-primary margin-right-10'>设置分销率</button>
{/if}
{/block}

{block name="content"}
    <div class="think-box-shadow">
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name="list"}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
                </th>
                <th class='text-left nowrap'>订单ID</th>
                <th class='text-left nowrap'>购买人名称</th>
                <th class='text-left nowrap'>分销人名称</th>
                <th class='text-left nowrap'>原始价格</th>
                <th class='text-left nowrap'>分销价格</th>
                <th class='text-left nowrap'>分销率</th>
                <th class='text-left nowrap'>获得时间</th>
            </tr>
            </thead>
                {foreach $list as $key=>$vo}
                    <tr data-dbclick>
                        <td class='list-table-check-td think-checkbox'>
                            <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                        </td>
                        <td class="text-left nowrap">
                            <span class="font-w7">{$vo.order_id|default='-'}</span><br>
<!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.uname|default='-'}</p>
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.puname|default='-'}</p>
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.origin_price|default='0'}</p>
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.price|default='0'}</p>
                        </td>
                        <td class='text-left nowrap'>
                            <p class="color-text">{$vo.rate|default='0'}</p>
                        </td>
                        <td class='text-left nowrap'>
                            日期：{$vo.create_time|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
                        </td>
<!--                        <td class='text-left nowrap'>-->
<!--                            {if auth("edit")}-->
<!--                            <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={$vo.id}'>编 辑</a>-->
<!--                            {/if}-->
<!--                            {if auth("remove")}-->
<!--                            <a data-dbclick class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该课程吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>-->
<!--                            {/if}-->
<!--                        </td>-->
                    </tr>
                {/foreach}

            {/notempty}
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
{/block}
</body>
</html>